@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" value="Excluir" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Excluir
        </button>

        <a href="@Url.Action("Index")" class="btn btn-default">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            Retornar</a>
    </div>
}
