<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" value="Salvar" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Salvar
        </button>
        <a href="@Url.Action("Index")" class="btn btn-default">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            Retornar</a>
        
        @*<a href="@Request.UrlReferrer" class="btn btn-default">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            Retornar
        </a>*@
    </div>
</div>
